:root {
    --plain-black: black;
    --white: #FEFEFE;
    --red: #DA1E1E;
}

.bg-black {
    background-color: var(--plain-black);
}

.bg-white {
    background-color: var(--white);
}

.text-red {
  color: var(--red)  
}